@model MyProject.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
}

<div class="form-row" style="margin-left:-15px">
    <div class="col-sm-3">
        @{
            Html.RenderPartial("DoctorPartialView");
        }
    </div>
    <div class="col-sm-9">
        <div class="container">
            <div class="container text-center">
                <h2><b>Let's Change Your Old Password</b></h2>
            </div>
            <br><br><br><br />

            @using (Html.BeginForm("ValidatePassword", "Doctor", FormMethod.Post))
            {
                <div class="form-row">
                    <div class="col-sm-2">
                        <label>Old Password</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.PasswordFor(a => a.OldPassword, new { @class = "form-control", @maxlength = "30" })
                    </div>
                </div>
                <br><br><br><br>

                <div class="form-row">
                    <div class="col-sm-2">
                        <label>New Password</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.PasswordFor(a => a.NewPassword, new { @class = "form-control", @maxlength = "30" })
                        @Html.ValidationMessageFor(a => a.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br><br><br><br>

                <div class="form-row">
                    <div class="col-sm-2">
                        <label>Confirm New Password</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.PasswordFor(a => a.ConfirmNewPassword, new { @class = "form-control", @maxlength = "30" })
                        @Html.ValidationMessageFor(a => a.ConfirmNewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br><br><br><br>

                <div class="form-row">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>

                <div class="text-success form-group">
                    @ViewBag.Message
                </div>
            }
        </div>
    </div>
</div>

