@if (Request.IsAuthenticated)
{
    <ul class="navbar-nav">
        <li class="nav-item active">
            @Html.ActionLink("Home", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </li>
        <li class="nav-item active">
            @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </li>
        <li class="nav-item active">
            @Html.ActionLink("LogOut", "LogOut", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </li>
    </ul>

}
else
{
    <ul class="navbar-nav">
        <li class="nav-item active">
            @Html.ActionLink("Home", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </li>
        <li class="nav-item active">
            @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </li>
        <li class="nav-item active">
            @Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </li>
        <li class="nav-item active">
            @Html.ActionLink("Register", "Register", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </li>
    </ul>

}
