<div class="w3-sidebar w3-light-grey w3-bar-block" style="height:835px;background-color:darkgrey">
    <h1 class="text-center">Menu</h1>
    <br><br>
    <div class="container text-left col-sm-3" style="font-size:28px">
        <ul>
            <li>@Html.ActionLink("Dashboard", "GetDashboard", "Admin")<br><br /></li>
            <li>@Html.ActionLink("Edit_Profile", "GetAdminData", "Admin")<br><br /></li>
            <li>@Html.ActionLink("Change_Password", "ChangePassword", "Admin")<br><br /></li>
            <li>@Html.ActionLink("Add_And_Edit_Drug_Details", "AddDrugDetails", "Admin")<br><br /></li>
            <li>@Html.ActionLink("View_And_Delete_Drugs", "ViewDrugsDetails", "Admin")<br><br /></li>
            <li>@Html.ActionLink("View_Order_Detail", "ViewOrderDetail", "Admin")</li>
        </ul>
    </div>
</div>

